/* Reset the CSS */
html, body {
    width: 100%;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size: 16px;
  vertical-align:baseline;
  background:transparent;
}                  

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display:block;
}

nav ul { list-style:none; }

blockquote, q { quotes:none; }

blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }

a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }

ins { background-color:#ff9; color:#000; text-decoration:none; }

mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }

/* tables still need cellspacing="0" in the markup */
table { border-collapse:collapse; border-spacing:0; }

hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }

input, select { vertical-align:middle; }

/* END RESET CSS */

h1 {
    font-size: 2em;
    margin-top: 5px;
    margin-bottom: 5px;
}

header {
    text-align: center;
}

header hgroup {
    margin-top: 15px;
    margin-bottom: 15px;
}

ul.hmenu {
    text-align: left;
    float: left;
    width: 100%;
    height: 18px;
    border-bottom: 10px solid #def;
    margin: 0;
    padding: 0;
    list-style: none;
    display: table-row;
    list-style: none;
}

ul.hmenu li {
    display: table-cell;
}

ul.hmenu li a {
    text-decoration: none;
    color: #00f;
    padding: 0;
    margin: 0;
    background-color: #def;
    margin-left: 3px;
    padding: 5px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
}

ul.hmenu li ul {
    display: none;
    list-style: none;
    position: absolute;
    text-align: center;
    left: auto;
    padding: 0;
    margin: 0;
    background-color: #def;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
}

ul.hmenu li ul li {
    display: block;
    width: 100%;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 2px;
}

ul.hmenu li ul li a {
    text-decoration: none;
    color: #00f;
    padding: 0;
    margin: 5px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    background: none;
}

section {
    text-align: justify;
}

section h1 {
    text-align: center;
    margin: 15px;
}

section .content {
    text-align: center;
}

section article a{
    text-decoration: none;
    color: #00f;
}

section article .abstract{
    text-align: left;
}

section article .content{
    text-align: justify;
}

.col1 {
    float: left;
    width: 24%;
    padding: 0px;
    margin: 0;
    min-height: 600px;
}

.col2 {
    float: left;
    width: 75%;
    padding: 0;
    margin: 0;
    border-left: 5px solid #def;
}

.col21 {
    float: left;
    width: 63%;
    padding: 0;
    margin: 0;
}

.col22 {
    float: left;
    width: 36%;
    padding: 0;
    margin: 0;
    border-left: 5px solid #def;
}

footer {
    clear: both;
    float: left;
    text-align: center;
    width: 100%;
    border-top: 3px solid #def;
}

.floating {
    cursor: move;
}

.form {
    text-align: center;
    margin: auto;
}

.form .tag {
    text-align: right;
}

.form .field {
    text-align: left;
}

#recaptcha_area {
    margin: auto;
}

.video_list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.video_list p{
    padding: 0;
    margin: 0;
}

.video_list date{
    font-size: 13px;
    font-style: italic;
    color: #777;
    padding: 0;
    margin: 0;
}

video {
    max-height: 500px;
    max-width: 100%;
}
