html, body {
    width: 100%;
}

header {
    text-align: center;
}

ul.hmenu {
    text-align: left;
    float: left;
    width: 100%;
    height: 18px;
    border-bottom: 10px solid #def;
    margin: 0;
    padding: 0;
    list-style: none;
    display: table-row;
    list-style: none;
}

ul.hmenu li {
    display: table-cell;
}

ul.hmenu li a {
    text-decoration: none;
    color: #00f;
    padding: 0;
    margin: 0;
    background-color: #def;
    margin-left: 3px;
    padding: 5px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
}

ul.hmenu li ul {
    display: none;
    list-style: none;
    position: absolute;
    text-align: center;
    left: auto;
    padding: 0;
    margin: 0;
    background-color: #def;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
}

ul.hmenu li ul li {
    display: block;
    width: 100%;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 2px;
}

ul.hmenu li ul li a {
    text-decoration: none;
    color: #00f;
    padding: 0;
    margin: 5px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    background: none;
}

section {
    text-align: justify;
}

section h1 {
    text-align: center;
}

section .content {
    text-align: center;
}

section article a{
    text-decoration: none;
    color: #00f;
}

section article .abstract{
    text-align: left;
}

section article .content{
    text-align: justify;
}

.col1 {
    float: left;
    width: 24%;
    padding: 0px;
    margin: 0;
    min-height: 600px;
}

.col2 {
    float: left;
    width: 75%;
    padding: 0;
    margin: 0;
    border-left: 5px solid #def;
}

.col21 {
    float: left;
    width: 63%;
    padding: 0;
    margin: 0;
}

.col22 {
    float: left;
    width: 36%;
    padding: 0;
    margin: 0;
    border-left: 5px solid #def;
}

footer {
    clear: both;
    float: left;
    text-align: center;
    width: 100%;
    border-top: 3px solid #def;
}

.floating {
    cursor: move;
}

.form {
    text-align: center;
}

.form .tag {
    text-align: right;
}

.form .field {
    text-align: left;
}

#recaptcha_area {
    margin: auto;
}

.video_list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.video_list p{
    padding: 0;
    margin: 0;
}

.video_list date{
    font-size: 13px;
    font-style: italic;
    color: #777;
    padding: 0;
    margin: 0;
}

video {
    max-height: 500px;
    max-width: 100%;
}
