{% load i18n %}
{% load cache %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE HTML>
<html>
<head>
<title>Error en el servidor</title>
<style type="text/css">
  body {
  text-align: center;
  background-color: #000000;
  color: #FF0000;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  }
</style>
</head>
<body>
<h1>Ups! Error en el servidor</h1>
<p>Parece ser que algún inepto ha metido la pata y por alguna razón el
  servidor no puede devolver la página, Por favor, comuníquelo a
  palvarez@ritho.net para que pueda despedir al susodicho inepto.</p>
</body>
</html>
