{% load i18n %}
{% load cache %}
{% get_current_language as LANGUAGE_CODE %}

<form action="{{ action|default_if_none:'' }}" method="post" {% if upload %} enctype="multipart/form-data" {% endif%} {% if id %} id="{{ id }}" {% endif%}>
  {% csrf_token %}
  {% for hidden in form.hidden_fields %}
  {{ hidden }}
  {% endfor %}
  <table class="form">
    {% for field in form.visible_fields %}
    <tr>
      <td class="tag">{{ field.label_tag }}: </td>
      <td class="field">{{ field }}</td>
      <td class="errors">
	{% for error in form.subject.errors %}
        <span>{{ error|escape }}</span>
	{% endfor %}
      </td>
    </tr>
    {% endfor %}
    {% if captcha %}
    {% autoescape off %}
    <tr><td colspan="3">{{ captcha }}</td></tr>
    {% endautoescape %}
    {% endif %}
    <tr><td colspan="3"><input type="submit" /></td></tr>
  </table>
</form>
