{% load i18n %}
{% load cache %}
{% get_current_language as LANGUAGE_CODE %}

{% if src.webm or src.ogv or src.mp4 %}
<video id="movie" preload="none"
       {% if width %} width="{{ width }}" {% endif %} 
       {% if height %} height="{{ height }}" {% endif %}
       {% if controls %} controls="controls" {% endif %} >

   {% if src.webm %}
   <source src="{{ src.webm }}" type="video/webm" />
   {% endif %}

   {% if src.ogv %}
   <source src="{{ src.ogv }}" type="video/ogg" />
   {% endif %}

   {% if src.mp4 %}
   <source src="{{ src.mp4 }}" type="video/mp4" />
   {% endif %}
</video>
{% else %}
<a id="sVideo" style="width:500px;height:320px;display:block"></a>
<script language="JavaScript">
flowplayer("sVideo",
"{{ src.flash }}", {
// this will enable pseudostreaming support 
plugins: { 
pseudo: { url: '{{ src.flash_str }}' } 
},

// clip properties 
clip: {
// our clip uses pseudostreaming
provider: 'pseudo',
// provide MP4 file for Flash version 9.0.115 and above. otherwise use FLV
url: flashembed.isSupported([9, 115]) ? '{{ src.mp4 }}' : '{{ src.flv }}'
}
});
</script>
{% endif %}
