{% load i18n %}
{% load cache %}
{% get_current_language as LANGUAGE_CODE %}

<script type="text/javascript" charset="utf-8">
  // Add VideoJS to all video tags on the page when the DOM is ready
  VideoJS.setupAllWhenReady();
</script>

{% if src.webm or src.ogv or src.mp4 %}
<div class="video-js-box">
  <video class="video-js" id="movie" preload="none"
	 {% if width %} width="{{ width }}" {% endif %} 
	 {% if height %} height="{{ height }}" {% endif %}
	 {% if controls %} controls="controls" {% endif %} 
	 preload poster="" >

    {% if src.webm %}
    <source src="{{ src.webm }}" type='video/webm; codecs="vp8, vorbis"' />
    {% endif %}

    {% if src.ogv %}
    <source src="{{ src.ogv }}" type='video/ogg; codecs="theora, vorbis"'' />
    {% endif %}

    {% if src.mp4 %}
    <source src="{{ src.mp4 }}" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' />
    {% endif %}

    <object class="vjs-flash-fallback"
	    {% if width %} width="{{ width }}" {% endif %} 
	    {% if height %} height="{{ height }}" {% endif %}
	    type="application/x-shockwave-flash"
            data="{{ src.flash }}">
        <param name="movie" value="{{ src.flash }}" />
        <param name="allowfullscreen" value="true" />
	{% if src.mp4 %}
        <param name="flashvars" value='config={"playlist":[{"url":"{{ src.mp4 }}","autoPlay":false,"autoBuffering":true}]}' />
	{% else %}
        <param name="flashvars" value='config={"playlist":[{"url":"{{ src.flv }}","autoPlay":false,"autoBuffering":true}]}' />
	{% endif %}
        <img src="" {% if width %} width="{{ width }}" {% endif %} 
	     {% if height %} height="{{ height }}" {% endif %}
	     alt="Poster Image" title="No video playback capabilities." />
    </object>
  </video>
</div>
{% else %}
<a id="sVideo" style="width:500px;height:320px;display:block"></a>
<script language="JavaScript">
flowplayer("sVideo",
"{{ src.flash }}", {
// this will enable pseudostreaming support 
plugins: { 
pseudo: { url: '{{ src.flash_str }}' } 
},

// clip properties 
clip: {
// our clip uses pseudostreaming
provider: 'pseudo',
url: '{{ src.flv }}'
}
});
</script>
{% endif %}
