{% load i18n %}
{% load cache %}
{% get_current_language as LANGUAGE_CODE %}

<form action="{{ session.base_url }}/login" method="post">
  {% csrf_token %}
  {% for hidden in form.hidden_fields %}
  {{ hidden }}
  {% endfor %}
  <table class="form">
    {% for field in form.visible_fields %}
    <tr>
      <td class="tag">{{ field.label_tag }}: </td>
      <td class="field">{{ field }}</td>
      <td>{{ field.errors }}</td>
    </tr>
    {% endfor %}
    <tr><td colspan="3"><input type="submit" /></td></tr>
  </table>
</form>
