{% load i18n %}
{% load cache %}
{% get_current_language as LANGUAGE_CODE %}

<form action="{{ session.base_url }}/register" method="post"> 
  {% csrf_token %}
  <table class="form">
    <tr><td class="tag">Username: </td><td class="field"><input type="text" name="username"></td></tr>
    <tr><td class="tag">First name: </td><td class="field"><input type="text" name="first_name"></td></tr>
    <tr><td class="tag">Last name: </td><td class="field"><input type="text" name="last_name"></td></tr>
    <tr><td class="tag">Email: </td><td class="field"><input type="text" name="email"></td></tr>
    <tr><td class="tag">Password: </td><td class="field"><input type="password" name="password"></td></tr>
    <tr><td class="tag">Repeat password: </td><td class="field"><input type="password" name="repeat_password"></td></tr>
    {% if captcha %}
    {% autoescape off %}
    <tr><td colspan="2">{{ captcha }}</td></tr>
    {% endautoescape %}
    {% endif %}
    <tr><td colspan="2"><input type="submit" /></td></tr>
  </table>
</form>
