{% load i18n %}
{% load cache %}
{% get_current_language as LANGUAGE_CODE %}

<div class="col22">
  <section>
    <h1>Ultimas noticias</h1>
    <p>ultimas noticias de ritho</p>
    <mark><date>2010-10-24</date>:</mark>
    <article>
      <a href="http://ritho.net/index.html">Inicio del proyecto ritho</a><br />
      Con la inauguracion de su web oficial comienza su andadura el
      proyecto Ritho.
    </article>
  </section>
  <section>
    <h1>Videos</h1>
    <p>Ultimos videos</p>
    <video width="320" height="240" controls="controls" src="file:///home/i02sopop/Downloads/PiTP - 2009 - Monday, July 13, 2009 - Kernighan.hi.mp4">
      Your browser does not support the video tag.
    </video>
  </section>
</div>
</div>
